h2 {
    font-family: 'Montserrat', sans-serif;
}

table {
    width: 50%;
}

thead, td {
    width: 40%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

th {
    border-bottom: 1px solid rgb(172, 195, 255);
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even){background-color: #dce7f7}

tr {
    padding-top: 20px;
    margin-top: 20px;
}

.unvalid_qty {
    font-family: 'Montserrat', sans-serif;
    color: rgb(249, 59, 59);
}

p, h3 {
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]{
    margin:0 auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #5985c2;
    color: white;
    font-size: 120%;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
}