.header_container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #2371DC;
    width: 100vw;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

.welcome_container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #2371DC;

}

.item_container {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    background:#2371DC ;
    color: white;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
}

.item_name{
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

.item_price, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
}

.item_image {
    width: 200px;
    height: 200px; 
    padding: 20px;

}

input[type="text"] {
    width: 35px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 7px;

}

label{
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"], button{
    margin:0 auto;
    display:block;
    margin-top: 30px;
    background-color: #5985c2;
    color: white;
    font-size: 120%;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
}

input[type="button"] {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #2371DC;
    margin:0 auto;
    display:block;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}